[Unit]
Description=The plugin-driven server agent for reporting metrics into InfluxDB
Documentation=https://github.com/influxdata/telegraf
After=network-online.target
Wants=network-online.target

[Service]
Environment=TELEGRAF_CFGFILE=/etc/telegraf/telegraf.conf
Environment=TELEGRAF_CFGDIR=/etc/telegraf/telegraf.d
EnvironmentFile=-/etc/default/telegraf
User=telegraf
Group=telegraf
ExecStart=/usr/sbin/telegraf --config ${TELEGRAF_CFGFILE} --config-directory ${TELEGRAF_CFGDIR} ${TELEGRAF_OPTS}
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartForceExitStatus=SIGPIPE
KillMode=control-group

[Install]
WantedBy=multi-user.target
